@model IEnumerable<ToDo.Domain.Entities.Item>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-success">Nova tarefa</a>
</p>

<table id="item" class="table">
    <thead>
        <tr class="">
            <th>Descrição</th>
            <th>Data de criação</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Description</td>
                <td>@item.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
                <td><input type="checkbox" disabled @( item.Done ? "checked" : "" ) action="" /></td>
                <td><a asp-action="Edit" asp-route-id="@item.Id" asp-route-done="@item.Done" asp-route-description="@item.Description" class="btn btn-primary">Editar</a> | <a asp-action="Delete" asp-controller="Item" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>

<script>
    function add() {
        window.location.href = ''
    }
</script>